body {
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    position: relative;
}

.bg-dark {
    background-color: #330033!important;
}

a.bg-dark:hover {
    background-color: #660066! important;
    text-decoration: none;
}

.navbar-link {
    color: #ffffff;
}

.navbar-link:hover {
    color: #660066;
    text-decoration: none;
}

/* ----------------------------------- PAGE HEADING */

.page-heading {
    margin-bottom: 0;
}


/* ------------------------------------ BUTTONS */
.btn-success {
    background-color: #003300;
    border-color: #003300;
    border-width: medium;
}

.btn-success:hover {
    background-color: #006600;
    border-color: #003300;
    border-width: medium;
}

.btn-outline-secondary {
    border-color: #330033;
    border-width : medium;
}

.btn-outline-secondary:hover {
    background-color: #660066! important;
    border-color: #330033;
    border-width : medium;
}

.btn-danger {
    background-color: #660000;
    border-color: #660000;
    border-width : medium;
}

.btn-danger:hover {
    background-color: #990000! important;
    border-color: #660000;
    border-width : medium;
}

/* ------------------------------------ HERO BANNER */

#hero_banner {
    position: relative;
    overflow: hidden;
}

/* ------------------------------------ LOG IN FORM*/
.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

#log_in_btn {
    width: 100%;
}

.password-reset {
    color: #330033;
}

.password-reset:hover {
    text-decoration: none;
    color: #660066;
}

/* ------------------------------------ RESET PASSWORD FORM */

#id_email {
    width: -webkit-fill-available;
}

/* ------------------------------------ MEMBERSHIP CARD */

.membership-card {
    margin-bottom: 20px;
}
/* ------------------------------------ CART TEMPLATE */
.cart-total {
    display: inline-flex;
}


/* ------------------------------------ JOIN IN FORM */

#div_id_username .help-block {
    display: none;
}

#id_dob_month, #id_dob_day, #id_dob_year {
    width: 30%;
    display: inline;
}

#id_dob_day {
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

/* ------------------------------------ PAYMENT FORM */

#id_cvv {
    width: 30%;
}

#id_expiry_month {
    width: 30%;
}

#id_expiry_year {
    width: 30%;
}


