<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Join In Page{% endblock %}

{% block page_heading %}Member Registration{% endblock %}


{% block content %}
<!-- Message to redirect to login page for already members -->
<p>If you already have a membership, you can <a href="{% url 'login' %}">log in.</a></p>

<!--------------------------------------------------------- Join in form -->
<!-- <form method="POST">
	{% csrf_token %}
	{{ join_form | as_bootstrap }}
	<button type="submit">Join in</button>
</form> -->

<div class="container">
	<div class="row">
		<h4 class="mb-3">Personal details</h4>
		<form class="form-join" method="POST">
        {% csrf_token %}
			<div class="row">
				<!-- First name -->
				<div class="col-md-6 mb-3 form-group" id="div_id_firstName">
					<label for="id_firstName">First name</label>
					<input type="text" class="form-control" id="id_firstName" placeholder="" required="" autofocus>
					<div class="invalid-feedback">
						Valid first name is required.
					</div>
				</div>
				<!-- Last name -->
				<div class="col-md-6 mb-3" id="div_id_lastName">
					<label for="id_lastName">Last name</label>
					<input type="text" class="form-control" id="id_lastName" placeholder="" required="">
					<div class="invalid-feedback">
						Valid last name is required.
					</div>
				</div>
			</div>
			<!-- Username -->
			<div class="mb-3" id="div_id_username">
				<label for="id_username">Username</label>
				<div class="input-group">
					<input type="text" class="form-control" id="id_username" placeholder="Username" required="">
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>
			</div>
			<!-- Date of birth -->
			<div class="row" id="div_dob">
				<div class="col-md-4 mb-3" id="div_id_dobDay">
					<label for="id_dobDay">Day</label>
					<select class="custome-select d-block w-100" id="id_dobDay" required>
                    <option value="Day"></option>
                    </select>
					<div class="invalid-feedback">Please select a valid day.</div>
				</div>
				<div class="col-md-4 mb-3" id="div_id_dobMonth">
					<label for="id_dobMonth">Month</label>
					<select class="custome-select d-block w-100" id="id_dobMonth" required>
                    <option value="Month"></option>
                    </select>
					<div class="invalid-feedback">Please select a valid month.</div>
				</div>
				<div class="col-md-4 mb-3" id="div_id_dobYear">
					<label for="id_dobYear">Year</label>
					<select class="custome-select d-block w-100" id="id_dobYear" required>
                    <option value="Year"></option>
                    </select>
					<div class="invalid-feedback">Please select a valid year.</div>
				</div>
			</div>
			<!-- Email address -->
			<div class="mb-3" id="div_id_email">
				<label for="id_email">Email address</label>
				<input type="email" class="form-control" id="id_email" placeholder="you@example.com" required>
				<div class="invalid-feedback">
					Please enter a valid email address for shipping updates.
				</div>
			</div>
			<!-- Password -->
			<div class="row">
				<div class="col-md-6 mb-3" id="div_id_password1">
					<label for="id_password1">Password</label>
					<input type="password" class="form-control" id="id_password1" required>
                </div>
                <div class="col-md-6 mb-3" id="div_id_password2">
					<label for="id_password2">Confirm password</label>
					<input type="password" class="form-control" id="id_password2" required>
                </div>
			</div>
				<!-- Home phone number -->
				<div class="mb-3" id="div_id_landline">
					<label for="id_landline">Home phone number</label>
					<input type="email" class="form-control" id="id_landline" placeholder="" required>
					<div class="invalid-feedback">
						Please enter a valid home phone number.
					</div>
				</div>
				<!-- Home phone number -->
				<div class="mb-3" id="div_id_mobile">
					<label for="id_mobile">Mobile number</label>
					<input type="email" class="form-control" id="id_mobile" placeholder="" required>
					<div class="invalid-feedback">
						Please enter a valid mobile number.
					</div>
				</div>
				<!-- Home address -->
				<div class="mb-3" id="div_id_address1">
					<label for="id_address1">Address</label>
					<input type="text" class="form-control" id="id_address1" placeholder="1234 Main St" required="">
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="mb-3" id="div_id_address2">
					<label for="id_address2">Address 2 <span class="text-muted">(Optional)</span></label>
					<input type="text" class="form-control" id="id_address2" placeholder="Apartment or suite">
            </div>

					<div class="row">
						<!-- Town -->
						<div class="col-md-9 mb-3" id="div_id_town">
							<label for="id_town">Town</label>
							<input type="text" class="form-control" id="id_town" placeholder="" required="">
							<div class="invalid-feedback">
								Please enter your town.
							</div>
						</div>
						<!-- Postcode -->
						<div class="col-md-3 mb-3" id="div_id_postcode">
							<label for="id_postcode">Postcode</label>
							<input type="text" class="form-control" id="id_postcode" placeholder="" required="">
							<div class="invalid-feedback">
								Postcode required.
							</div>
						</div>
					</div>
					<hr class="mb-4">
					<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
		</form>
	</div>
</div>
{% endblock %}