<!DOCTYPE html>
{% extends 'base.html' %}
{% load static from static %}
{% load bootstrap_tags %}

{% block content %}
<!-- Cart contents -->
<div class="d-md-flex flex-md-equal justify-content-center w-100 my-md-3 pl-md-3">
	{% for item in cart_items %}
	<!-- Cart item card -->
	<div class="border rounded-lg shadow mr-md-3 py-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
		<div class="membership">
			<div class="caption">
				<h3>{{ item.membership.membership_type }}</h3>
				<p class="membership-description text-muted">{{ item.membership.description }}</p>
				<p><strong>{{ item.membership.price }}</strong></p>
				<p>
					<form action="{% url 'remove_from_cart' item.id %}" method="POST">
						{% csrf_token %}
						<button type="submit" class="btn btn-danger">Remove</button>
					</form>
				</p>
			</div>
		</div>
	</div>
</div>

{% endfor %}
<div class="d-md-flex flex-md-equal justify-content-center w-100 my-md-3 pl-md-3">
	<div class="border rounded-lg shadow mr-md-3 py-3 px-3 px-md-5 text-center overflow-hidden">
		<div class="cart-total">
			<h4>Total: {{ total }}</h4>
		</div>
		<div>
			<a href="{% url 'checkout' %}" class="btn btn-success"
				role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
		</div>
	</div>
</div>

{% endblock %}