<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block page_title %}{% endblock %}</title>
</head>

<body>
	<!--------------------------------------------------------- Page heading -->
	<h1>{% block page_heading %}{% endblock %}</h1>
	<!-- Navigation menu -->
	<nav>
		<ul>
			<!-- If user is authenticated, only display Profile and Logout options -->
			{% if user.is_authenticated %}
			<li><a href="{% url 'profile' %}">Profile</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>

			<!-- If user is NOT authenticated, then display Login and Register options -->
			{% else %}
			<li><a href="{% url 'login' %}">Login</a></li>
			<li><a href="{% url 'join' %}">Join in</a></li>
            {% endif %}
		</ul>
	</nav>
	<hr>
	<!--------------------------------------------------------- Messages -->
	{% if messages %}
	<div>
		{% for message in messages %}
		{{ message }}
		{% endfor %}
	</div>
	{% endif %}
	<!--------------------------------------------------------- Block content -->
	{% block content %}
	{% endblock %}
</body>

</html>